html {
    width: 100%;
    height: 100%;
  }
  
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  }
  
  .container, #app {
    height: 100%;
    width: 100%;
  }
  
  .home-container {
    height: 100%;
    background-image: url('images/download.svg');
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .city-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50;
  }
  
  .header {
    font-size: 45px;
    color: #fff;
    font-weight: 100;
  }

  .home-title {
      color: #fff
  }

  .weather-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50;
  }

  .forecast-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
  }
  .day-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 35px;
  }
  .forecast-header {
    font-size: 65px;
    color: #333;
    font-weight: 100;
    text-align: center;
  }
  .subheader {
    font-size: 30px;
    color: #333;
    font-weight: 100;
  }
  .weather {
    height: 130px;
  }

  .description-container {
    font-size: 34px;
    font-weight: 100;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.navbar-item img {
  max-height: 3.75rem;
}